<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load widget_tweaks %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/main_copy.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/products.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/addProducts.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/brands.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/perItem.css' %}">
    <title>Dashboard: Add Order</title>
</head>

<body>
    <!-- navigation bar start -->
    <div class="sc_navbar">
        <div class="sc_header">
            <div class="sc_header_right">
                <a href="#home" class="admin_hello">Hello {{request.user}}</a>
                <a href="{% url 'index_vendor_admin_page' %}" class="admin_hello" style="margin: 0px 5px;">Go to Vendor Portal</a>
                <a href="#" class="logout_btn">Logout</a>
            </div>
        </div>
    </div>
    <!-- navigation bar End -->

    <!-- side bar start -->
    <div class="sc_sidebar_list">
        <div class="sc_sidebar">
            <a href="{% url 'index_admin' %}"><i class="fas fa-rupee-sign"></i>Dashboard</a>
            <a class="active" href="{% url 'sb_product_admin' %}"><i class="fas fa-barcode"></i>Products</a>
            <a href="{% url 'sb_images_admin' %}"><i class="fas fa-plus-circle"></i>Images</a>
            <a href="{% url 'sb_ads_admin' %}"><i class="fas fa-mitten"></i>Ads</a>
            <a href="{% url 'sb_account_admin' %}"><i class="fas fa-users"></i>User Accounts</a>
        </div>
    </div>

    <!-- side bar End -->


    <!-- staff details topbar start -->

    <div class="sc_staff_nav">
        <div class="sc_staffs_topbar">
            <div class="sc_staffs_status nonActive_tabs">All Products</div>
            <div class="sc_staffs_status nonActive_tabs">Add Products</div>
            <div class="sc_staffs_status nonActive_tabs">Brands</div>
            <div class="sc_staffs_status active_tabs">Category</div>
            <div class="sc_staffs_status nonActive_tabs">Sub-Category</div>
        </div>
    </div>

    <!-- staff details topbar end -->

    <div class="sc_content_container_noBorder sc_cc_tab" id="allProducts_tab">
        <div class="admin_addbrand_title">
            <a href="{% url 'sb_product_admin' %}"><i class="far fa-arrow-alt-circle-left"></i></a>
            <h1>Add Category</h1>
        </div>
        <div class="admin_addbrand_content">
            <form action="{% url 'sb_add_category_product_post_admin' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="add_contentDiv">
                    <div class="add_title margin_tb_auto" for="product_name">Name</div>
                    <div class="add_description_text">
                        {% render_field brand_add_form.title id="product_name" %}
                    </div>
                </div>

                <div class="add_contentDiv">
                    <div class="add_title margin_tb_auto" for="product_dis">Discount</div>
                    <div class="add_description_price">
                        {% render_field brand_add_form.discount  id="product_dis" style="width: 10%;" %}%
                    </div>
                </div>

                <div class="center">
                    <div class="form-input">
                        <label for="file-ip-1">Upload Image</label>
                         {% render_field brand_add_form.photo_img id="file-ip-1" name="photo_img" class="img_upload" onchange="showPreview(event);" %}
                        <div class="preview">
                            <img id="file-ip-1-preview">
                        </div>
                    </div>
                </div>

                <div class="add_contentDiv_submit">
                    <input class="add_product_submit" type="submit" value="Submit" style="margin: 5px 0px 50px 0px;">
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/subBottomBar.js' %}"></script>

</body>

</html>