{% load widget_tweaks %}
<style>
    #empty_form{
        display: none;
    }
</style>
<div class="admin_addProduct_main">
    <form action="{% url 'sb_product_add_product_post_admin' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        <div class="add_contentDiv">
            <div class="add_title margin_tb_auto" for="mcategory">Categories</div>
            <div class="add_description">
                {% render_field form_1.categories onchange="handleSelectChange(event);" %}
            </div>
        </div>
        <div id="_sle_so" style="display:none;">
            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="subcategory">Sub Categories</div>
                <div class="add_description">

                    {{form_1.sub_categories}}
                </div>
            </div>

            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="brand">Brand</div>
                <div class="add_description">
                    {{form_1.brand}}
                </div>
            </div>

            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="product_title">Title</div>
                <div class="add_description_text">
                    {% render_field form_1.title id="product_title" %}
                </div>
            </div>

            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="product_description">Descriptions</div>
                <div class="add_description_textarea">
                    {{ form_1.description }}
                </div>
            </div>

            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="product_qty">Quantity</div>
                <div class="add_description_text">
                    {% render_field form_1.stock id="product_qty" %}
                </div>
            </div>

            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="product_lprice">Latest Price</div>
                <div class="add_description_price">
                    Rs.  {% render_field form_1.latest_price id="product_lprice" %}
                </div>
            </div>

            <div class="add_contentDiv">
                <div class="add_title margin_tb_auto" for="product_oprice">Old Price</div>
                <div class="add_description_price">
                    Rs. {% render_field form_1.old_price id="product_oprice" %}
                </div>
            </div>
                <h1>comming soon</h1>
                {{form_1.coming_soon}}

                <h1>featured product</h1>
                {{form_1.featured_product}}
            <div id="preview">
            </div>
            <div class="input_img" id="lolme">
                <label for="file-input" class="upim">Upload Image</label>
                    {% render_field product_image_form.photo_img id="file-input" accept="image/*" onchange="previewImages(event);" %}
            </div>

            <div id="lolme2">
                <div onclick="deleteAllImg()">Delete And Re-upload</div>
            </div>

            <div class="add_SpecDiv" style="margin: 50px 0px;">
                <h2 style="margin: 0;">Product Specification</h2>
                <hr>
                <!-- run this in loop for multiple spec list -->
                <div class="hidden_div" id="empty_form">
                    <div class="add_contentDiv spec_table">
                        <div class="add_title proSpecDropDown">
                            {{ formset.empty_form.title }}
                        </div>
                        <div class="add_description_text">
                            {% render_field formset.empty_form.description id="desc_title" name="desc_title" style="width: 100%;" %}

                        </div>

                        <div class="del_description_tab" >
                            <i class="fa-solid fa-xmark" onclick="deleteclone()"></i>
                        </div>
                    </div>
                </div>
                <!-- run this in loop for multiple spec list -->
                <div id="specSheet">

                </div>

                <div class="addSpecDivBtn">
                    <div class="add_product_submit" onclick="addMoreFeature()">Add More</div>
                </div>

            </div>

            <div class="add_contentDiv_submit">
                <input class="add_product_submit" type="submit" >
            </div>
        </div>
    </form>
</div>

<script>
    function addMoreFeature() {
        var parentDiv = document.getElementById('specSheet');
        var totalNewForms = document.getElementById('id_form-TOTAL_FORMS');
        var currentDescriptionForms = document.getElementsByClassName('spec_table');
        var currentFormCurrent = currentDescriptionForms.length - 1;

        var myDiv = document.getElementById('empty_form');
        var cloneDivs = myDiv.cloneNode(true);
        theName = myDiv.getAttribute('id') + currentFormCurrent;
        cloneDivs.setAttribute('id', theName);
        totalNewForms.setAttribute('value', currentFormCurrent);
        parentDiv.appendChild(cloneDivs);
    }

    function deleteclone(){


        var parentDiv = document.getElementById('specSheet');

        parentDiv.removeChild(parentDiv.lastChild);
    }

    function deleteAllImg(){
        var preview = document.getElementById('preview');
        preview.innerHTML = "";
        document.getElementById("lolme").style.display = "block";
        document.getElementById("lolme2").style.display = "none";
    }

    function previewImages(event) {
      var preview = document.getElementById('preview');
      if (this.files) {
        [].forEach.call(this.files, readAndPreview);
      }
      function readAndPreview(file) {
        // Make sure `file.name` matches our extensions criteria
        if (!/\.(jpe?g|png|gif)$/i.test(file.name)) {
          return alert(file.name + " is not an image");
        } // else...
        var reader = new FileReader();
        reader.addEventListener("load", function() {
          var image = new Image();
          image.height = 100;
          image.title  = file.name;
          image.src    = this.result;
          preview.appendChild(image);
          preview.style.display = "block";
        });
        reader.readAsDataURL(file);
      }
      document.getElementById("lolme").style.display = "none";
      document.getElementById("lolme2").style.display = "block";

    }
    document.querySelector('#file-input').addEventListener("change", previewImages);

</script>