{% load static %}
<div class="admin_mainPanel">
    <div class="allProductsContent" id="defaultH">
        <h1>All Products</h1>
    </div>

    

    <!-- these are contents -->
    {% include 'admin_page/products/allProducts/laptops.html' with laptop_list=laptop_list product_images_laptop=product_images_laptop sub_category_list=sub_category_list brands_list=brands_list %}
    {% include 'admin_page/products/allProducts/desktops.html' with sub_category_desktop=sub_category_desktop %}
    {% include 'admin_page/products/allProducts/apple.html' with  sub_category_apple=sub_category_apple %}
    {% include 'admin_page/products/allProducts/components.html' with sub_category_components=sub_category_components %}
    <!-- contents till here -->


    <!-- these are tabs: from here -->
    <div class="admin_bottomBar">
        <ul>
            <li class="abb_li" onclick="openSubBottomBar('asbb_laptop', this)">Laptops</li>
            <li class="abb_li" onclick="openSubBottomBar('asbb_desktop', this)">Desktops</li>
            <li class="abb_li" onclick="openSubBottomBar('asbb_apple', this)">Apple</li>
            <li class="abb_li" onclick="openSubBottomBar('asbb_components', this)">Components</li>
        </ul>
    </div>


    {% include 'admin_page/products/allProducts/subBottomBar.html' %}
    <!-- these are tabs: to here -->


</div>