{% load static %}
<!--start container for order and storage  -->
<div class="sc_container2">
    <div class="sc_div_row">
    {% for items in category_list%}
        <div class="sc_div_col">
            <div class="sc_perDiv sc_perDiv_img_hover">
                <img src="{{items.photo_img.url}}" alt="">
                <div class="sc_centered">{{items.title}}</div>
                <div class="sc_top-right">15</div>
            </div>
        </div>
    {% endfor %}

        <div class="sc_div_col">
            <a href="{% url 'sb_add_category_product_admin' %}">
                <div class="sc_perDiv sc_perDiv_img_hover">
                    <img src="{% static 'css/images/brands/adds.png' %}" alt="">

                    <div class="sc_centered" style="font-size: 16px;">ADD Category</div>

                </div>
            </a>
        </div>

    </div>
</div>
<!-- end container for order and storage-->