{% load static %}
<div class="cc_header_topbar">
    <div class="cc_htopbar_left">
        <a href="">Further Query</a>
        <span class="verLine">||</span>
        <span>Contact: 9874985858</span>
        <span class="verLine">||</span>
        <span>multitrade@gmail.com</span>
    </div>
    <div class="cc_htopbar_right">
        {% if request.user.is_authenticated %}
        <a href="{% url 'client_profile' %}">
            {{current_user}}</a>
            {% else %}
            <a href="{% url 'client_sign_in' %}">
            Sign in </a>
            {% endif %}
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'client_authentication' %}"><i class="fas fa-heart"></i> &nbsp; My Wishlist</a>
    </div>
</div>

<div class="cc_header_middlebar">

    <div class="cc_hmiddlebar_left">
        <div class="cc_mainlogo centerlr mcentertb">
            <a href="{% url 'index_app' %}">
                <img src="{% static 'css/images/mainlogo.png' %}" alt="">
            </a>
        </div>
    </div>

    <div class="cc_hmiddlebar_mid">
        <form action="{% url 'search_product' %}" method="GET">
            <div class="cc_searchContainer centerlr">
                <div class="cc_search_txt">
                    <input name="query" placeholder="Enter Keywords to search ........." required>
                </div>
                <button class="bb_search_btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="cc_hmiddlebar_right" id="append_here">
        <a href="{% url 'shopping_cart' %}">
            <button>
                <div class="cc_shoppingCartDiv">
                    <div class="cc_sc_img mcentertb">
                        <img src="{% static 'css/images/share/shopping_cart.png' %}" alt="">
                    </div>
                    <div class="cc_sc_text">
                        <span class="sctitle">SHOPPING CART</span>
                        <br>
                        <span class="sc_item">{{cart_quantity_total}} item</span> - <span class="sc_price">NPR {{cart_total_price|floatformat:2}}</span>
                    </div>
                </div>
            </button>
        </a>
    </div>
</div>


<div class="topnav" id="myTopnav">
    <div class="dropdown toActive">
        <a href="{% url 'index_app' %}">
            <button class="dropbtn">
                <i class="fa-solid fa-house"></i> HOME
            </button>
        </a>
    </div>

    {% for category_id,category_data in json_data.items %}
    <div class="dropdown">
        <a href="{% url 'product_list' slug=category_data.category_slug %}">
            <button class="dropbtn">
                <i class="fas fa-laptop"></i> {{category_data.category_name}}
            </button>
        </a>
        {% if category_data.subcategory %}
        <div class="dropdown-content">
            <div class="row">
                {% for subcategory_id,subcategory_data in category_data.subcategory.items %}
                <div class="column">
                    <h3>
                        <a href="{% url 'product_list' slug=category_data.category_slug %}?brands=&sub_categories={{subcategory_data.subcategory_id}}&slider_min=&slider_max=&show_by=&sort_by=">{{subcategory_data.subcategory_name}}</a>
                    </h3>
                    <ul>
                        {% for brand_id,brand_data in subcategory_data.brand.items %}
                        <li>
                            <a href="{% url 'product_list' slug=category_data.category_slug %}?brands={{brand_data.brand_id}}&sub_categories={{subcategory_data.subcategory_id}}&slider_min=&slider_max=&show_by=&sort_by=">{{brand_data.brand_name}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    <a href="javascript:void(0);" style="font-size:15px; color:white; padding:14px;" class="bb_home_icon" onclick="myFunction()">&#9776;</a>

</div>