{% load static %}
<div class="cc_header_topbar">
    <div class="cc_htopbar_left">
        <a href="">Further Query</a>
        <span class="verLine">||</span>
        <span>Contact: 9874985858</span>
        <span class="verLine">||</span>
        <span>multitrade@gmail.com</span>
    </div>
    <div class="cc_htopbar_right">
        <a href="{% url 'client_authentication_app' %}">
            {% if current_user %}
            {{current_user}}
            {% else %}
            Sign in
            {% endif %}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url 'client_authentication_app' %}"><i class="fas fa-heart"></i> &nbsp; My Wishlist</a>
    </div>
</div>

<div class="cc_header_middlebar">

    <div class="cc_hmiddlebar_left">
        <div class="cc_mainlogo centerlr mcentertb">
            <a href="{% url 'index_app' %}">
                <img src="{% static 'css/images/mainlogo.png' %}" alt="">
            </a>
        </div>
    </div>

    <div class="cc_hmiddlebar_mid">
        <form action="{% url 'search_btns_post_app' %}" method="post">
            {% csrf_token %}
            <div class="cc_searchContainer centerlr">
                <div class="cc_search_txt">
                    <input name="_search_text" placeholder="Enter Keywords to search ...." required>
                </div>

                <button class="bb_search_btn" type="submit">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <div class="cc_hmiddlebar_right" id="append_here">
        <a href="{% url 'shopping_cart_app' %}">
            <button>
                <div class="cc_shoppingCartDiv">
                    <div class="cc_sc_img mcentertb">
                        <img src="{% static 'css/images/share/shopping_cart.png' %}" alt="">
                    </div>
                    <div class="cc_sc_text">
                        <span class="sctitle">SHOPPING CART</span>
                        <br>
                        <span class="sc_item">{{cart_quantity_total}} item</span> - <span class="sc_price">NPR {{cart_total_price|floatformat:2}}</span>
                    </div>
                </div>
            </button>
        </a>
    </div>
</div>


<div class="topnav" id="myTopnav">
    <div class="dropdown toActive">
        <a href="{% url 'index_app' %}">
            <button class="dropbtn">
                <i class="fa-solid fa-house"></i> HOME
            </button>
        </a>
    </div>

    <div class="dropdown">
        <a href="/list_page/Laptops">
            <button class="dropbtn">
                <i class="fas fa-laptop"></i> LAPTOP
            </button>
        </a>
        {% if laptop_topnav %}
        <div class="dropdown-content">
            <div class="row">
                {% for items in laptop_topnav %}
                <div class="column">
                    <h3>
                        <a href="/list_page/Laptops?brand=&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{items.title}}</a>
                    </h3>
                    <ul>
                        {% for item in laptop_brand %}
                        <li>
                            <a href="/list_page/Laptops?brand={{item.id}}&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="dropdown">
        <a href="/list_page/Desktops">
            <button class="dropbtn">
                <i class="fas fa-desktop"></i> DESKTOP
            </button>
        </a>
        {% if desktop_topnav %}
        <div class="dropdown-content">
            <div class="row">
                {% for items in desktop_topnav %}
                <div class="column">
                    <h3>
                        <a href="/list_page/Desktops?brand=&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{items.title}}</a>
                    </h3>
                    <ul>
                        {% for item in desktop_brand %}
                        <li>
                            <a href="/list_page/Desktops?brand={{item.id}}&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <!-- <div class="dropdown">
        <a href="/list_page/Apple">
            <button class="dropbtn">
                <i class="fab fa-apple"></i> APPLE
            </button>
        </a>
        {% if apple_topnav %}
        <div class="dropdown-content">
            <div class="row">
                {% for items in apple_topnav %}
                <div class="column">
                    <h3>
                        <a href="/list_page/Apple?brand=&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{items.title}}</a>
                    </h3>
                    <ul>
                        {% for item in apple_brand %}
                        <li>
                            <a href="/list_page/Apple?brand={{item.id}}&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div> -->

    <div class="dropdown">
        <a href="/list_page/Components">
            <button class="dropbtn">
                <i class="fas fa-microchip"></i> COMPONENT
            </button>
        </a>
        {% if components_topnav %}
        <div class="dropdown-content">
            <div class="row">
                {% for items in components_topnav %}
                <div class="column">
                    <h3>
                        <a href="/list_page/Components?brand=&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{items.title}}</a>
                    </h3>
                    <ul>
                        {% for item in components_brand %}
                        <li>
                            <a href="/list_page/Components?brand={{item.id}}&sub_categories={{items.id}}&slider_min=&slider_max=&show_by=&sort_by=">{{item.title}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>

    <div class="dropdown">
        <a href="#">
            <button class="dropbtn">
                <i class="fa-solid fa-laptop-code"></i> Office Solutions
            </button>
        </a>
    </div>

    <div class="dropdown">
        <a href="#">
            <button class="dropbtn">
                <i class="fa-regular fa-keyboard"></i> Electronics Accessories
            </button>
        </a>
    </div>

        <a href="javascript:void(0);" style="font-size:15px; color:white; padding:14px;" class="bb_home_icon" onclick="myFunction()">&#9776;</a>

</div>