{% load static %}
<div class="bb_b_forflex">
    <div class="bb_b_container1">
        <form action="{% url 'blog_search_app' %}" method="post">
            {% csrf_token %}
            <div class="bb_b_search">
                <div class="bb_b_searcharea">
                    <input type="text" placeholder=" Search Posts" name="_search_blog_text">

                    <div class="bb_b_searchicon">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>
        </form>
        <div class="bb_b_foroptions">
            <h3>RECENT POSTS</h3>
            <hr>
            <p><a href="/per_blog_page/{{per_blog_query.id}}">{{per_blog_query.title}}</a></p>
        </div>
    </div>
    <!-- code for the right big container -->
    <div class="bb_b_container2">
        <h1>{{per_blog_query.title}}</h1>
        <div class="bb_b_fordateandlogo">
            <div class="bb_b_date">
                {{per_blog_query.date_uploaded}}

                <img src="{{per_blog_query.photo_img.url}}">
            </div>
            <div class="bb_b_logo">
                <div class="bb_b_allLogo">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                </div>
            </div>

        </div>
        <!-- code for the text part starts here -->
        <div class="bb_b_fortext">
            <div class="bb_b_firstcontent">
                {{per_blog_query.description|safe}}
            </div>


        </div>
        <br><br>
        <hr width="95%">


        <!-- code for the comment section part starts here -->
        <div class="bb_b_bottompart">
            <div class="bb_b_forcomment">
                <div class="bb_b_forperson">
                    <div class="bb_b_person">
                        <i class="material-icons" style="font-size:40px">person</i>
                    </div>

                </div>
                <div class="bb_b_commentsection">
                    <input type="text" placeholder="Full Name" class="textAreaz">

                    <textarea placeholder="Add Comments Here..." rows="3"></textarea>

                    <input type="checkbox" style="margin: 10px 15px 10px 0px;">Display Name in public
                </div>

            </div>
            <div class="bb_b_forbutton">
                <button>Post</button>
            </div>
        </div>
    </div>

</div>