{% load static %}
<div class="bb_b_forflex">
    <div class="bb_b_container1">
        <form action="{% url 'blog_search_app' %}" method="post">
            {% csrf_token %}
            <div class="bb_b_search">

                <div class="bb_b_searcharea">
                    <input type="text" placeholder=" Search Posts" name="_search_blog_text">

                    <div class="bb_b_searchicon">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>

            </div>
        </form>
        <div class="bb_b_foroptions">
            <h3>RECENT POSTS</h3>
            <hr>
            {% for item in blog_list %}
            <p><a href="/per_blog_page/{{item.id}}">{{item.title}}</a></p>
            {% endfor %}
        </div>
    </div>
    <!-- code for the right big container -->
    <div class="bb_b_container2">

        <div class="bb_b_title">
            <h1>Search results : {{search_name}}</h1>
            <hr>
        </div>
        <!-- <hr class="cont2"> -->
        <div class="bb_b_showlist">
            {% for item in page_obj_blog_search_list %}
            <div class="bb_b_mid">
                <div class="bb_b_photo">
                    <div class="bb_b_photo1"><img class="bb_b_photos" src="{{item.photo_img.url}}"></div>
                </div>
                <div class="bb_b_content">
                    <div class="bb_b_content_L">
                        <a href="/per_blog_page/{{item.id}}">
                            <h2>{{item.title}}</h2>
                        </a>
                        <div class="bb_b_Little_content">
                            <p>{{item.blog_summary}}</p>
                        </div>

                    </div>
                    <div class="bb_b_content_R">
                        <a href="/per_blog_page/{{item.id}}">Show all</a>

                    </div>

                </div>

            </div>
            {% endfor %}
        </div>

        <!--Pagination-->
        <div class="pagination_center">
            <div class="pagination">
                {% if page_obj_blog_search_list.has_previous %}
                <a href="?page_search_blog=1">&laquo; first</a>
                <a href="?page_search_blog={{ page_obj_blog_search_list.previous_page_number }}">&laquo;</a>
                {% endif %}

                <span class="current active">
                    Page {{ page_obj_blog_search_list.number }} of {{ page_obj_blog_search_list.paginator.num_pages }}
                </span>

                {% if page_obj_blog_search_list.has_next %}
                <a href="?page_search_blog={{ page_obj_blog_search_list.next_page_number }}">&raquo;</a>
                <a href="?page_search_blog={{ page_obj_blog_search_list.paginator.num_pages }}">last &raquo;</a>
                {% endif %}

            </div>
        </div>
        <!--end of Pagination-->
    </div>

</div>