<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/fontawesome.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap"
          rel="stylesheet">
</head>

<body>
<div class="bb_pd_container">
    <div class="bb_container_col1">
        <div class="bb_bd_col_inside">
            {% for item in review_list %}
                <div class="review">
                <div class="profile">
                    <div class="profile_star">
                        {% if item.rating == 1 %}
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star "></i>
                            <i class="fas fa fa-star "></i>
                            <i class="fas fa fa-star "></i>
                            <i class="far fa fa-star"></i>
                        {% endif %}

                        {% if item.rating == 2 %}
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star "></i>
                            <i class="fas fa fa-star "></i>
                            <i class="far fa fa-star"></i>
                        {% endif %}

                        {% if item.rating == 3 %}
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star "></i>
                            <i class="far fa fa-star"></i>
                        {% endif %}

                        {% if item.rating == 4 %}
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="far fa fa-star"></i>
                        {% endif %}

                        {% if item.rating == 5 %}
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="fas fa fa-star checked"></i>
                            <i class="far fa fa-star checked"></i>
                        {% endif %}
                    </div>
                    <div class="profile_name">
                        By <strong>{{item.fullname}}</strong>
                    </div>
                </div>
                <div class="des">
                    <p style="text-align: justify;">
                       {{item.review}}
                    </p>
                </div>
            </div>
            {% endfor %}

        </div>

    </div>

    <div class="bb_container_col2">
        <h3 class="bb_bd_top">YOU'RE REVIEWING:</h3>
        <h3>{{per_product.title}}</h3>
        <form action="/product_review/{{per_product.categories}}/{{per_product.id}}" method="post">
            {% csrf_token %}
            <div class="form">
                <div class="rate" >
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                </div>

                <div class="bb_review_detail">
                    <div class="bb_review_static">Full Name</div>
                    <div class="bb_review_dynamic">
                        <input type="text" maxlength="20" name="_full_name" required>
                    </div>
                </div>

                <div class="bb_review_detail">
                    <div class="bb_review_static">Email ID</div>
                    <div class="bb_review_dynamic">
                        <input type="email" maxlength="50" name="_user_email" required>
                    </div>
                </div>

                <div class="bb_review_textField">
                    <div class="bb_review_sTextField">Place a review here</div>
                    <hr width="98%">
                    <div class="bb_review_dTextField">
                        <textarea id="review_box" maxlength="300" name="_review_box" rows="4" cols="50" required></textarea>
                    </div>
                </div>

            </div>
            <div class="bb_bd_review_submit">
                <button type="submit">Submit Review</button>
            </div>
        </form>

    </div>
</div>
</body>

</html>