<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <meta name="title" content="Multitrade">
    <meta name="description" content="Multitrade is Nepal's best laptop seller and distributer.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.Multitrade.com">
    <meta property="og:title" content="Multitrade: Nepal's Best Laptop Seller and Distributor">
    <meta property="og:description" content="Multitrade is Nepal's best laptop seller and distributer.">
    <meta property="og:image" content="https://www.Multitrade.com{{meta_images.photo_img.url}}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.Multitrade.com">
    <meta property="twitter:title" content="Multitrade: Nepal's Best Laptop Seller and Distributor">
    <meta property="twitter:description" content="Multitrade is Nepal's best laptop seller and distributer.">
    <meta property="twitter:image" content="https://www.Multitrade.com{{meta_images.photo_img.url}}">



    <link rel="stylesheet" href="{% static 'css/client_css/php_m.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/topBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/product_description.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/review.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/toastr.min.css' %}">
        <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/client_css/fotorama.css' %}">
    <title>Multitrade</title>
</head>

<body>

 <!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v13.0" nonce="w1iciwZY"></script>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
    {% endfor %}
</ul>
{% endif %}

    {% include 'client_page/nav_bar_new/topNavBar.html' with current_user=current_user cart_quantity_total=cart_quantity_total cart_total_price=cart_total_price %}

    {% include 'client_page/perPage/product_discription.html' with review_list=review_list per_desc=per_desc per_images=per_images per_product=per_product %}
    {% include 'client_page/footer.html' %}
 {% include 'client_page/bottom_bar.html' %}

<script>

    var user = '{{request.user}}';
    window.CSRF_TOKEN = "{{ csrf_token }}";
</script>
    <script src="{% static 'js/cart.js' %}"></script>
    <script src="{% static 'js/company.js' %}"></script>
     <script src="{% static 'js/topNav.js' %}"></script>

    <script src="{% static 'js/_csrf_tkn.js' %}"></script>
    <script src="{% static 'js/client_user.js' %}"></script>
    <script src="{% static 'js/product_description.js' %}"></script>

    <script src="{% static 'js/fotorama.js' %}"></script>

    <style>
        .bb_images_pc {
            width: 90%;
            margin-right: auto;
            margin-left: auto;
        }

        .fotorama__arr {
            background-color: #000011 !important;
            background: url(../images/fotorama.png) no-repeat;
        }

        .fotorama__arr--next {
            right: 2px;
            background-position: -32px 0;
        }

        .fotorama__arr--prev {
            left: 2px;
            background-position: 0 0;
        }
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</body>

</html>