

<div class="bb_listProductDiv">
    <div class="bb_listProductInner" style="display: block;">

        <div class="bb_listProductInner_left" style="display:block; width: 100%;">
            <div class="bb_listProduct_name" style="width: 100%!important;">
                <h1>Search Result</h1>
            </div>

        </div>

        <div class="bb_listProductInner_right">


<div class="bb_pro">

            <div class="bb_listAllProductDiv" id="wishlist_listpage">

                {% for item in object_bundle %}
                <div class="bb_perProduct_col">

                    <div class="bb_perProduct_item">
                        <div class="bb_item_img">

                            {% if item.1.photo_img.url == '/media/default' %}

                            {% else %}
                            <a href="/per_page/{{item.0.categories}}/{{item.0.id}}"><img src="{{item.1.photo_img.url}}"
                                                                                         alt=""></a>
                            {% endif %}

                            {% if item.2 == 'False' %}
                                <i class="fas fa-heart" data-wishproduct={{item.0.id}}
                                       data-wishproducttype={{item.0.categories}}></i>
                            {% else %}
                                <i class="fas fa-heart" style="color:red" data-wishproduct={{item.0.id}}
                                       data-wishproducttype={{item.0.categories}}></i>
                            {% endif %}

                        </div>
                        <div class="bb_item_name">
                            <a href="/per_page/{{item.0.categories}}/{{item.0.id}}"><h4>{{item.0.title}}</h4></a>
                        </div>
                        <div class="bb_item_price">
                            <h4>NPR {{item.0.latest_price|floatformat:2}}</h4>
                            {% if item.0.old_price != 0.0 %}
                            <h5>
                                <del>NPR {{item.0.old_price}}</del>
                            </h5>
                            {% endif %}
                        </div>
                        <div class="bb_item_addToCart">
                            <button data-product={{item.0.id}} data-producttype={{item.0.categories}} data-action="add"
                                    class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i> &nbsp; ADD TO
                                CART
                            </button>
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>
    </div>

            <div class="pagination_center">
                <div class="pagination">

                    {% if page_obj.has_previous %}
                    <a href="?pages=1&search_name={{search_name}}">&laquo;</a>
                    <a href="?pages={{ page_obj.previous_page_number }}&search_name={{search_name}}">&lt; Previous</a>
                    {% endif %}

                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

                    {% if page_obj.has_next %}
                    <a href="?pages={{ page_obj.next_page_number }}&search_name={{search_name}}">Next </a>
                    <a href="?pages={{ page_obj.paginator.num_pages }}&search_name={{search_name}}">&raquo; Last</a>
                    {% endif %}

                </div>
            </div>

        </div>
    </div>
</div>