{% load static %}
<div class="bb_company_main">
    <div class="bb_company_inner">
        <div class="bb_company_track owl-carousel" id="company_list">

            <div class="bb_company_list">
                <img src="{% static 'css/images/logos/cisco.png' %}" alt="">
            </div>

            <div class="bb_company_list">
                <img src="{% static 'css/images/logos/colorful.png' %}" alt="">
            </div>

            <div class="bb_company_list">
                <img src="{% static 'css/images/logos/corsair.png' %}" alt="">
            </div>

            <div class="bb_company_list">
                <img src="{% static 'css/images/logos/cryorig.png' %}" alt="">
            </div>

        </div>        
    </div> 
    <!-- <a class="bb_cprev top0" onclick="plusSlides(-1)">&#10094;</a>
    <a class="bb_cnext top0" onclick="plusSlides(1)">&#10095;</a>      -->
</div>
