{% load app_extras %}
{% load widget_tweaks %}

<div class="bb_listProductDiv" id="bb_listProductDiv">
    <div class="bb_resBtn" onclick="openSideBar()">
        <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
    <div class="bb_listProductInner">        

        <div class="bb_listProductInner_left" id="leftMe">
            <div class="bb_listProduct_name">
                <h1>{{product}}</h1>
            </div>

            <form method="get">

                <div class="bb_aSearch _brands">
                    <div class="bb_aSearchContent">
                        <h3>BRAND</h3>

                        {{ snippet_filter.form.brand }}

                    </div>
                </div>


                <div class="bb_aSearch _subcategory">
                    <div class="bb_aSearchContent">
                        <h3>SUBCATEGORY</h3>
                        {{ snippet_filter.form.sub_categories }}
                    </div>
                </div>


                <div class="bb_aSearch">
                    <div class="bb_aSearchContent">
                        <h3>PRICE</h3>

                        <div class="wrapper">
                            <div class="container">
                                <div class="slider-track"></div>
                                <input type="range" min=0 max="{{max_price}}" value=0
                                    id="slider-1" oninput="slideOne()">
                                <input type="range" min="{{min_price}}" max="{{max_price}}" value="{{max_price}}"
                                    id="slider-2" oninput="slideTwo()">
                            </div>
                        </div>
                        {{ snippet_filter.form.slider }}
                    </div>
                </div>

                <input type="submit" class="live_search">
            </form>
        </div>

        <div class="bb_listProductInner_right" id="rightMe">
            <div class="bb_topFilterTool">
                <form method="get">
                    <div class="filterShow">
                        <label for="qtyPer">Show :</label>

                        {{ snippet_filter.form.show_by }}
                    </div>
                    <div class="filterSortBy">
                        <label for="SortBy">Sort By :</label>
                        {{ snippet_filter.form.sort_by }}
                    </div>
                </form>
            </div>



            <div class="bb_listAllProductDiv" id="wishlist_listpage">

                {% for item in zip_pro_img %}
                <div class="bb_perProduct_col">

                    <div class="bb_perProduct_item">
                        <div class="bb_item_img">

                            {% if item.1.photo_img.url == '/media/default' %}

                            {% else %}
                            <a href="/per_page/{{item.0.categories}}/{{item.0.id}}"><img src="{{item.1.photo_img.url}}"
                                    alt=""></a>
                            {% endif %}

                            {% if item.2 == 'False' %}
                            <i class="fas fa-heart" data-wishproduct={{item.0.id}}
                                data-wishproducttype={{item.0.categories}}></i>
                            {% else %}
                            <i class="fas fa-heart" style="color:red" data-wishproduct={{item.0.id}}
                                data-wishproducttype={{item.0.categories}}></i>
                            {% endif %}

                        </div>
                        <div class="bb_item_name">
                            <a href="/per_page/{{item.0.categories}}/{{item.0.id}}">
                                <h4>{{item.0.title}}</h4>
                            </a>
                        </div>
                        <div class="bb_item_price">
                            <h4>NPR {{item.0.latest_price|floatformat:2}}</h4>
                            {% if item.0.old_price != 0.0 %}
                            <h5>
                                <del>NPR {{item.0.old_price}}</del>
                            </h5>
                            {% endif %}
                        </div>
                        <div class="bb_item_addToCart">
                            {% if item.0.stock == 0 %}
                                <button data-product={{item.0.id}} data-producttype={{item.0.categories}} data-action="add"
                                    class="bb_item_addToCart_btn_disable" disabled><i class="fas fa-shopping-cart"></i> &nbsp; OUT OF STOCK
                                </button>
                            {% else %}
                                <button data-product={{item.0.id}} data-producttype={{item.0.categories}} data-action="add"
                                class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i> &nbsp; ADD TO
                                CART
                                </button>
                            {% endif %}
                        </div>
                    </div>

                </div>
                {% endfor %}
            </div>

            <div class="pagination_center">
                <div class="pagination">
                    {% if page_obj.has_previous %}
                    <a href="{% my_url 1 'page' request.GET.urlencode %}">&laquo;</a>
                    <a href="{% my_url page_obj.previous_page_number 'page' request.GET.urlencode %}">&lt; Previous</a>
                    {% endif %}

                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

                    {% if page_obj.has_next %}
                    <a href="{% my_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next </a>
                    <a href="{% my_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">&raquo; Last</a>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function openSideBar(){
        var rightTarget = document.getElementById("rightMe");
        var leftTarget = document.getElementById("leftMe");
        var btn = document.getElementsByClassName("bb_resBtn");

        if (leftTarget.className === "bb_listProductInner_left"){
            leftTarget.className += " SideBarResponsive";
            btn[0].style.right = "0px";
            btn[0].style.left = "auto";

            rightTarget.style.display = "none";

            leftTarget.style.display = "block";
            leftTarget.style.width = "100%";
            leftTarget.style.height = "100vh";
            leftTarget.style.backgroundColor = "white";

            var mainDivTarget = document.getElementById("bb_listProductDiv");
            mainDivTarget.style.margin = "0px";
            mainDivTarget.style.backgroundColor = "white";
            mainDivTarget.style.padding = "0px 2% 20% 2%";

        } else {
            leftTarget.className = "bb_listProductInner_left";
            btn[0].style.left = "-20px";
            btn[0].style.right = "auto";

            rightTarget.style.display = "block";

            leftTarget.style.display = "none";
            leftTarget.style.height = "auto";

            var mainDivTarget = document.getElementById("bb_listProductDiv");
            mainDivTarget.style.margin = "0px 4%";
            mainDivTarget.style.backgroundColor = "#f2f3f5";
            mainDivTarget.style.padding = "0";


        }        
    }
</script>