{% load static %}
<div class="bb_blog_mainCC">

    <div class="bb_blogtop">
        <div class="bb_blog_toptitle">
            <h3>Latest Blog</h3>
        </div>
        <div class="bb_viewall_btn">
            <a href="{% url 'blog_page_app' %}">View All</a>
        </div>
    </div>

    <div class="bb_blog_div owl-carousel" id="blog_div">

        {% for item in blog_list %}
            <a href="/per_blog_page/{{item.id}}">
                <div class="bb_blog_perDiv">
                    <div class="bb_blog_content">
                        <div class="bb_blog_dateDiv">
                            <div class="bb_blog_date">
                                <h3>{{item.date_time_picker}}</h3>
                            </div>
                        </div>

                        <div class="bb_blog_imgDiv">
                            <img src="{{item.photo_img.url}}"
                                 alt="">
                        </div>

                        <div class="bb_blog_titleDiv">
                            <div class="bb_blog_title">
                                <h3>{{item.title}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
    <!-- <div class="owl-nav">
        <div class="bb_bprev owl-prev top0" onclick="plusSlides(-1)">&#10094;</div>
        <div class="bb_bnext owl-next top0" onclick="plusSlides(1)">&#10095;</div>
    </div> -->
</div>