{% load static %}
<div class="bb_mainContainerBB">
        <div class="bb_bottomBarContent">
            <div class="bb_bottomBarPerContent">
                <a href="{% url 'index_app' %}"><i class="fa-solid fa-house"></i></a>
            </div>

            <div class="bb_bottomBarPerContent">
                <a href="{% url 'client_authentication' %}"><i class="fas fa-heart"></i></a>
            </div>

            <div class="bb_bottomBarPerContent">
                <a href="{% url 'shopping_cart' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            </div>

            <div class="bb_bottomBarPerContent">
                <a href="{% url 'client_authentication' %}">
            {% if current_user %}
                    <i class="fa-solid fa-user"></i>
            {% else %}
            <i class="fa-solid fa-user"></i>
            {% endif %}</a>
            </div>

        </div>
    </div>

<style>

</style>