<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">

    <meta name="title" content="Multitrade">
    <meta name="description" content="Multitrade is Nepal's best laptop seller and distributer.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.multitrade.com.np">
    <meta property="og:title" content="Multitrade: Nepal's Best Laptop Seller and Distributor">
    <meta property="og:description" content="Multitrade is Nepal's best laptop seller and distributer.">
    <meta property="og:image" content="https://www.multitrade.com.np{% static 'css/images/mainlogo.png' %}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.multitrade.com.np">
    <meta property="twitter:title" content="Multitrade: Nepal's Best Laptop Seller and Distributor">
    <meta property="twitter:description" content="Multitrade is Nepal's best laptop seller and distributer.">
    <meta property="twitter:image" content="https://www.multitrade.com.np{% static 'css/images/mainlogo.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="{% static 'css/client_css/php_m.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/company.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/topBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/toastr.min.css' %}">

    <title>Multitrade</title>

</head>

<style>
    .one {
      display: none;
    }
</style>
<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
    {% endfor %}
</ul>
{% endif %}

    {% include 'client_page/nav_bar_new/topNavBar.html' with components_brand=components_brand apple_brand=apple_brand desktop_brand=desktop_brand laptop_brand=laptop_brand components_topnav=components_topnav apple_topnav=apple_topnav desktop_topnav=desktop_topnav laptop_topnav=laptop_topnav current_user=current_user cart_quantity_total=cart_quantity_total cart_total_price=cart_total_price %}
    {% include 'client_page/featured_product.html' with featured_object=featured_object %}
    {% include 'client_page/new_arrival.html' with latest_news_object=latest_news_object %}
    {% include 'client_page/laptops.html' with laptop=laptop %}
    {% include 'client_page/desktop.html' with desktops_object=desktops_object %}
    {% include 'client_page/company.html' %}
    {% include 'client_page/perBlog.html' with blog_list=blog_list %}
    {% include 'client_page/footer.html' %}
    {% include 'client_page/bottom_bar.html' %}

<script>

        if ((navigator.userAgent.match(/iPhone/)) || (navigator.userAgent.match(/iPod/))) {
            var head = document.getElementsByTagName('HEAD')[0];
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = "{% static 'css/client_css/responsive_mobile.css' %}";
            head.appendChild(link);
        }

</script>
<div class="one">
    <script type="text/javascript">

        var user = '{{request.user}}';

        window.CSRF_TOKEN = "{{ csrf_token }}";
        var cart_selection = "{{ cart_selection }}";

    </script>
</div>
<div style="display:none;"><h1>asdasdas</h1></div>
<script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/company.js' %}"></script>
<script type="text/javascript" src="{% static 'js/topNav.js' %}"></script>

<script type="text/javascript" type="text/javascript" src="{% static 'js/_csrf_tkn.js' %}"></script>
<script type="text/javascript" src="{% static 'js/client_user.js' %}"></script>

<script>
    if (cart_selection == '_tr_del_g'){
        cart = {}
        document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
     }
</script>
</body>


</html>