<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">

    <meta name="title" content="Multitrade">
    <meta name="description" content="Multitrade is Nepal's best laptop seller and distributer.">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.multitrade.com.np">
    <meta property="og:title" content="Multitrade: Nepal's Best Laptop Seller and Distributor">
    <meta property="og:description" content="Multitrade is Nepal's best laptop seller and distributer.">
    <meta property="og:image" content="https://www.multitrade.com.np{% static 'css/images/mainlogo.png' %}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.multitrade.com.np">
    <meta property="twitter:title" content="Multitrade: Nepal's Best Laptop Seller and Distributor">
    <meta property="twitter:description" content="Multitrade is Nepal's best laptop seller and distributer.">
    <meta property="twitter:image" content="https://www.multitrade.com.np{% static 'css/images/mainlogo.png' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="{% static 'css/client_css/php_m.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/company.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/topBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/toastr.min.css' %}">

    <title>Multitrade</title>

</head>

<style>
    .one {
        display: none;
    }
</style>

<body>

    {% if messages %}
    <h1>Hey</h1>
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags == 'success'%}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% include 'client_page/nav_bar_new/topNavBar.html' with json_data=json_data  current_user=current_user  cart_quantity_total=cart_quantity_total cart_total_price=cart_total_price %}

    {% for data in nav_bar_catego.all %}
    {{data}}
    {% endfor %}

    <div class="bb_body">
        <div class="bb_product1">
            <div class="bb_product_div_name">
                <div class="bb_product_name">
                    Featured Product
                </div>
            </div>

            <div class="bb_product_baseRow">

                <div class="bb_product_baseCol">
                    <div class="this_container owl-carousel">
                        {% for items in featured_product %}
                        <div class="bb_perProduct_item">

                            <div class="bb_item_img">
                                {% for images in items.product_image.all %}
                                {% if images.is_shown %}
                                <a href="{% url 'product_detail' slug=items.categories.slug id=items.id %}"><img src="{{images.image.url}}" alt=""></a>
                                {% endif %}
                                {% endfor %}
                                {% if items.2 == 'False' %}
                                <i class="fas fa-heart" data-wishproduct={{items.id}}
                                    data-wishproducttype={{items.categories}}></i>
                                {% else %}
                                <i class="fas fa-heart" style="color:red" data-wishproduct={{items.id}}
                                    data-wishproducttype={{items.categories}}></i>
                                {% endif %}
                            </div>

                            <a href="{% url 'product_detail' slug=items.categories.slug id=items.id %}">
                                <div class="bb_item_name">
                                    <h4>{{items.title}}</h4>
                                </div>
                            </a>
                            
                            <div class="bb_item_price">
                                {% if items.is_featured %}
                                <h4>NPR {{items.latest_price|floatformat:2}}</h4>

                                {% if items.previous_price != 0.0 %}
                                <h5><del>NPR {{items.previous_price}}</del></h5>
                                {% endif %}
                                {% else %}
                                <h4>NPR {{items.latest_price|floatformat:2}}</h4>
                                {% endif %}
                            </div>

                            <div class="bb_item_addToCart">
                                {% if items.stock == 0 %}
                                <button data-product={{items.id}}
                                    data-action="add" class="bb_item_addToCart_btn_disable" disabled><i
                                        class="fas fa-shopping-cart"></i>
                                    &nbsp; OUT OF STOCK
                                </button>
                                {% else %}
                                <button data-product={{items.id}}
                                    data-action="add" class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i>
                                    &nbsp; ADD TO CART
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>


            </div>
        </div>
    </div>



    <div class="bb_body">
        <div class="bb_product1">
            <div class="bb_product_div_name">
                <div class="bb_product_name">
                    New Arrivals
                </div>
            </div>
            <div class="bb_product_baseRowNoFlex">

                <div class="offers_tag">
                    <div class="offers_img">
                        <img src="{% static 'css/images/offer.png' %}" alt="">
                    </div>
                </div>

                <div class="bb_product_baseCol">
                    <div class="this_container owl-carousel">

                        {% for items in new_arrival_product %}
                        <div class="bb_perProduct_item">

                            <div class="bb_item_img">
                                {% for images in items.product_image.all %}
                                {% if images.is_shown %}
                                <a href="{% url 'product_detail' slug=items.categories.slug id=items.id %}"><img src="{{images.image.url}}" alt=""></a>
                                {% endif %}
                                {% endfor %}
                                {% if items.2 == 'False' %}
                                <i class="fas fa-heart" data-wishproduct={{items.0.id}}
                                    data-wishproducttype={{items.categories}}></i>
                                {% else %}
                                <i class="fas fa-heart" style="color:red" data-wishproduct={{items.id}}
                                    data-wishproducttype={{items.categories}}></i>
                                {% endif %}
                            </div>

                            <a href="{% url 'product_detail' slug=items.categories.slug id=items.id %}">
                                <div class="bb_item_name">
                                    <h4>{{items.title}}</h4>
                                </div>
                            </a>
                            
                            <div class="bb_item_price">
                                {% if items.is_featured %}
                                <h4>NPR {{items.latest_price|floatformat:2}}</h4>

                                {% if items.previous_price != 0.0 %}
                                <h5><del>NPR {{items.previous_price}}</del></h5>
                                {% endif %}
                                {% else %}
                                <h4>NPR {{items.latest_price|floatformat:2}}</h4>
                                {% endif %}
                            </div>

                            <div class="bb_item_addToCart">
                                {% if items.stock == 0 %}
                                <button data-product={{items.id}} data-producttype={{items.categories}}
                                    data-action="add" class="bb_item_addToCart_btn_disable" disabled><i
                                        class="fas fa-shopping-cart"></i>
                                    &nbsp; OUT OF STOCK
                                </button>
                                {% else %}
                                <button data-product={{items.id}} data-producttype={{items.categories}}
                                    data-action="add" class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i>
                                    &nbsp; ADD TO CART
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="bb_body">
        <div class="bb_product1">
            <div class="bb_product_div_name">
                <div class="bb_product_name">
                    Coming Soon
                </div>
            </div>

            <div class="bb_product_baseRow">

                <div class="bb_product_baseCol">
                    <div class="this_container owl-carousel">
                        {% for items in comming_soon_product %}

                        <div class="bb_perProduct_item">

                            <div class="bb_item_img">
                                {% for images in items.product_image.all %}
                                {% if images.is_shown %}
                                <a href="{% url 'product_detail' slug=items.categories.slug id=items.id %}"><img src="{{images.image.url}}" alt=""></a>
                                {% endif %}
                                {% endfor %}
                                {% if items.2 == 'False' %}
                                <i class="fas fa-heart" data-wishproduct={{items.0.id}}
                                    data-wishproducttype={{items.0.categories}}></i>
                                {% else %}
                                <i class="fas fa-heart" style="color:red" data-wishproduct={{items.id}}
                                    data-wishproducttype={{items.categories}}></i>
                                {% endif %}
                            </div>

                            <a href="{% url 'product_detail' slug=items.categories.slug id=items.id %}">
                                <div class="bb_item_name">
                                    <h4>{{items.title}}</h4>
                                </div>
                            </a>
                            
                            <div class="bb_item_price">
                                {% if items.is_featured %}
                                <h4>NPR {{items.latest_price|floatformat:2}}</h4>

                                {% if items.previous_price != 0.0 %}
                                <h5><del>NPR {{items.previous_price}}</del></h5>
                                {% endif %}
                                {% else %}
                                <h4>NPR {{items.latest_price|floatformat:2}}</h4>
                                {% endif %}
                            </div>

                            <div class="bb_item_addToCart">
                                {% if items.stock == 0 %}
                                <button data-product={{items.id}} data-producttype={{items.categories}}
                                    data-action="add" class="bb_item_addToCart_btn_disable" disabled><i
                                        class="fas fa-shopping-cart"></i>
                                    &nbsp; OUT OF STOCK
                                </button>
                                {% else %}
                                <button data-product={{items.id}} data-producttype={{items.categories}}
                                    data-action="add" class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i>
                                    &nbsp; ADD TO CART
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>


            </div>
        </div>
    </div>

   
    {% for items in category %}
    {% if items.is_shown %}
    
    <div class="bb_body">
        <div class="bb_product1">
            <div class="bb_product_div_name">
                <div class="bb_product_name">
                    {{items.title}}
                </div>
            </div>
            <div class="bb_product_baseRow" id="wishlist_laptop_123">
    
                <div class="bb_product_baseCol_right">
                    <div class="bb_perProduct_row owl-carousel" >
                        {% for product in all_products %}
                        {% if product.categories.id == items.id %}
                        <div class="bb_perProduct_item">

                            <div class="bb_item_img">
                                {% for images in product.product_image.all %}
                                {% if images.is_shown %}
                                <a href="{% url 'product_detail' slug=product.categories.slug id=items.id %}"><img src="{{images.image.url}}" alt=""></a>
                                {% endif %}
                                {% endfor %}
                                {% if product.2 == 'False' %}
                                <i class="fas fa-heart" data-wishproduct={{product.0.id}}
                                    data-wishproducttype={{product.categories}}></i>
                                {% else %}
                                <i class="fas fa-heart" style="color:red" data-wishproduct={{product.id}}
                                    data-wishproducttype={{product.categories}}></i>
                                {% endif %}
                            </div>

                            <a href="{% url 'product_detail' slug=product.categories.slug id=items.id %}">
                                <div class="bb_item_name">
                                    <h4>{{product.title}}</h4>
                                </div>
                            </a>
                            
                            <div class="bb_item_price">
                                {% if product.is_featured %}
                                <h4>NPR {{product.latest_price|floatformat:2}}</h4>

                                {% if product.previous_price != 0.0 %}
                                <h5><del>NPR {{product.previous_price}}</del></h5>
                                {% endif %}
                                {% else %}
                                <h4>NPR {{product.latest_price|floatformat:2}}</h4>
                                {% endif %}
                            </div>

                            <div class="bb_item_addToCart">
                                {% if product.stock == 0 %}
                                <button data-product={{product.id}} data-producttype={{product.categories}}
                                    data-action="add" class="bb_item_addToCart_btn_disable" disabled><i
                                        class="fas fa-shopping-cart"></i>
                                    &nbsp; OUT OF STOCK
                                </button>
                                {% else %}
                                <button data-product={{product.id}} data-producttype={{product.categories}}
                                    data-action="add" class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i>
                                    &nbsp; ADD TO CART
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
    
                <div class="bb_product_baseCol_left">
                    <div class="bb_pbaseCol_left_div">
                        {% if items.image %}
                        <img src="{{ items.image.url }}" alt="">
                        {% else %}
                        <img src="{% static 'css/images/products/laptop.jpg' %}" alt="">
                        {% endif %}
                        <a href="{% url 'product_list' slug=items.slug %}" style="text-decoration: none;">
                            <button class="bb_pbaseCol_left_btn">VIEW ALL</button>
                        </a>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}


    <div class="bb_company_main">
        <div class="bb_company_inner">
            <div class="bb_company_track owl-carousel" id="company_list">
    
                <div class="bb_company_list">
                    <img src="{% static 'css/images/logos/cisco.png' %}" alt="">
                </div>
    
                <div class="bb_company_list">
                    <img src="{% static 'css/images/logos/colorful.png' %}" alt="">
                </div>
    
                <div class="bb_company_list">
                    <img src="{% static 'css/images/logos/corsair.png' %}" alt="">
                </div>
    
                <div class="bb_company_list">
                    <img src="{% static 'css/images/logos/cryorig.png' %}" alt="">
                </div>
    
            </div>        
        </div> 
        <!-- <a class="bb_cprev top0" onclick="plusSlides(-1)">&#10094;</a>
        <a class="bb_cnext top0" onclick="plusSlides(1)">&#10095;</a>      -->
    </div>
    {% include 'client_page/perBlog.html' with blog_list=blog_list %}
    {% include 'client_page/footer.html' %}
    {% include 'client_page/bottom_bar.html' %}

    <script>

        if ((navigator.userAgent.match(/iPhone/)) || (navigator.userAgent.match(/iPod/))) {
            var head = document.getElementsByTagName('HEAD')[0];
            var link = document.createElement('link');
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = "{% static 'css/client_css/responsive_mobile.css' %}";
            head.appendChild(link);
        }

    </script>
    <div class="one">
        <script type="text/javascript">

            var user = '{{request.user}}';

            window.CSRF_TOKEN = "{{ csrf_token }}";
            var cart_selection = "{{ cart_selection }}";

        </script>
    </div>
    <div style="display:none;">
        <h1>asdasdas</h1>
    </div>
    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toastr.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/company.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/topNav.js' %}"></script>

    <script type="text/javascript" type="text/javascript" src="{% static 'js/_csrf_tkn.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/client_user.js' %}"></script>

    <script>
        if (cart_selection == '_tr_del_g') {
            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
        }
    </script>
</body>


</html>