<div class="bb_body">
        <div class="bb_product1">
            <div class="bb_product_div_name">
                <div class="bb_product_name">
                    Featured Product
                </div>
            </div>
            <div class="bb_product_baseRow">

                <div class="bb_product_baseCol_right">
                    <div class="bb_perProduct_row">
                        <div class="bb_perProduct_col">

                            <div class="bb_perProduct_item">
                                <div class="bb_item_img">
                                    <img src="images/products/laptop (1).jpg" alt="">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <div class="bb_item_name">
                                    <h4>Dell XPS 15 9500 15.6″ FULL HD, i7-10750H 10th Gen, 16GB DDR4 RAM, 512GB SSD, GTX
                                    1650 Ti 4GB GDDR6, Window 10</h4>
                                </div>
                                <div class="bb_item_price">
                                    <h4>NPR 289,800.00</h4>
                                    <h5><del>NPR 289,800.00</del></h5>
                                </div>
                                <div class="bb_item_addToCart">
                                    <button class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i> &nbsp; ADD TO CART</button>                                    
                                </div>
                            </div>

                        </div>
                        <div class="bb_perProduct_col">

                            <div class="bb_perProduct_item">
                                <div class="bb_item_img">
                                    <img src="images/products/laptop (2).jpg" alt="">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <div class="bb_item_name">
                                    <h4>Dell XPS 15 9500 15.6″</h4>
                                </div>
                                <div class="bb_item_price">
                                    <h4>NPR 289,800.00</h4>
                                    <h5><del>NPR 289,800.00</del></h5>
                                </div>
                                <div class="bb_item_addToCart">
                                    <button class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i> &nbsp; ADD TO CART</button>                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="bb_perProduct_col">

                            <div class="bb_perProduct_item">
                                <div class="bb_item_img">
                                    <img src="images/products/laptop (3).jpg" alt="">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <div class="bb_item_name">
                                    <h4>Dell XPS 15 9500 15.6″ FULL HD, i7-10750H 10th Gen, 16GB DDR4 RAM, 512GB SSD, GTX
                                    1650 Ti 4GB GDDR6, Window 10</h4>
                                </div>
                                <div class="bb_item_price">
                                    <h4>NPR 289,800.00</h4>
                                </div>
                                <div class="bb_item_addToCart">
                                    <button class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i> &nbsp; ADD TO CART</button>                                    
                                </div>
                            </div>
                            
                        </div>
                        <div class="bb_perProduct_col">

                            <div class="bb_perProduct_item">
                                <div class="bb_item_img">
                                    <img src="images/products/laptop (4).jpg" alt="">
                                    <i class="fas fa-heart"></i>
                                </div>
                                <div class="bb_item_name">
                                    <h4>Dell XPS 15 9500 15.6″ FULL HD, i7-10750H 10th Gen, 16GB DDR4 RAM, 512GB SSD, GTX
                                    1650 Ti 4GB GDDR6, Window 10</h4>
                                </div>
                                <div class="bb_item_price">
                                    <h4>NPR 289,800.00</h4>
                                    <h5><del>NPR 289,800.00</del></h5>
                                </div>
                                <div class="bb_item_addToCart">
                                    <button class="bb_item_addToCart_btn"><i class="fas fa-shopping-cart"></i> &nbsp; ADD TO CART</button>                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="bb_product_baseCol_left">
                    <div class="bb_pbaseCol_left_div">
                        <img src="images/products/featured_product.jpg" alt="">
                        <button class="bb_pbaseCol_left_btn">VIEW ALL</buttom>
                    </div>
                </div>

            </div>
        </div>
    </div>