<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/fontawesome-free-6.0.0-beta3-web/css/all.css' %}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

    <link rel="stylesheet" href="{% static 'css/client_css/php_m.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/company.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/topBar.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/userAccount.css' %}">
    <link rel="stylesheet" href="{% static 'css/client_css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_css/toastr.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor_admin_css/vendor.css' %}">

    <title>Big Byte</title>
</head>

<body>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if message.tags == 'success'%}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'info' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'warning' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% elif message.tags == 'error' %}
        <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}

    {% include 'client_page/nav_bar_new/topNavBar.html' with current_user=current_user cart_quantity_total=cart_quantity_total cart_total_price=cart_total_price %}
    <div class="bb_ua_thirdDiv" id="dashboard">
        <div class="bb_ua_thirdDivContent">
            <div class="uaContentTop">
                <div class="usCT_left">
                    <h3>Account Information</h3>
                </div>
                <div class="usCT_right" style="display:none;">
                    <a href="" class="cusButton blueBtn">Edit</a>
                </div>
            </div>
            <hr style="margin: 0;">
            <div class="uaContentMid">
                <span>{{user_details.username}}</span>
                <span>{{user_details.email}}</span>
            </div>
        </div>
        <div class="bb_ua_thirdDivContent">
            <form method="post">
                {% csrf_token %}
                <div class="bb_ua_addressContent">
                    <div class="ua_billingAddress">
                        <h3>Billing Address</h3>
                        <hr width="90%" style="float: left;">

                        <div class="ua_aInputContent">
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">First Name</h4>
                                <input type="text" name="billing_firstname" value="{{address.first_name}}"
                                    placeholder="First Name">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Last Name</h4>
                                <input type="text" name="billing_lastname" value="{{address.last_name}}"
                                    placeholder="Last Name">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Company Name</h4>
                                <input type="text" name="billing_company" value="{{address.company_name}}"
                                    placeholder="Company Name">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Street Address</h4>
                                <input type="text" name="billing_street" value="{{address.street_address}}"
                                    placeholder="Street Address">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Town/City</h4>
                                <input type="text" name="billing_town" value="{{address.town_city}}"
                                    placeholder="Town/City">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">State</h4>
                                <input type="text" name="billing_state" value="{{address.state}}"
                                    placeholder="State">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">ZIP</h4>
                                <input type="text" name="billing_zip" value="{{address.zip}}" placeholder="ZIP">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Phone Number</h4>
                                <input type="number" name="billing_number" value="{{address.contact}}"
                                    placeholder="Phone Number">
                            </div>
                        </div>

                    </div>
                    <div class="ua_deliveryAddress">
                        <h3>Delivery Address</h3>
                        <hr width="90%" style="float: left;">
                        <div class="ua_aInputContent">
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">First Name</h4>
                                <input type="text" name="delivery_firstname" value="{{address.first_name}}"
                                    placeholder="First Name">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Last Name</h4>
                                <input type="text" name="delivery_lastname" value="{{address.last_name}}"
                                    placeholder="Last Name">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Company Name</h4>
                                <input type="text" name="delivery_company" value="{{address.company_name}}"
                                    placeholder="Company Name">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Street Address</h4>
                                <input type="text" name="delivery_street" value="{{address.street_address}}"
                                    placeholder="Street Address">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Town/City</h4>
                                <input type="text" name="delivery_town" value="{{address.town_city}}"
                                    placeholder="Town/City">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">State</h4>
                                <input type="text" name="delivery_state" value="{{address.state}}"
                                    placeholder="State">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">ZIP</h4>
                                <input type="number" name="delivery_zip" value="{{address.zip}}"
                                    placeholder="ZIP">
                            </div>
                            <div class="ua_inputPerDiv">
                                <h4 style="margin: 10px 0px;">Phone Number</h4>
                                <input type="number" name="delivery_number" value="{{address.contact}}"
                                    placeholder="Phone Number">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bb_ua_aContentSave">
                    <button class="cusButton greenBtn" type="submit">Send Order</button>
                </div>
            </form>
        </div>
    </div>


    {% include 'client_page/footer.html' %}
    {% include 'client_page/bottom_bar.html' %}

    <script>

        var user = '{{request.user}}';
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'js/toastr.min.js' %}"></script>
    <script src="{% static 'js/company.js' %}"></script>
    <script src="{% static 'js/userAccount.js' %}"></script>
    <script src="{% static 'js/client_user.js' %}"></script>
    <script src="{% static 'js/topNav.js' %}"></script>

</body>

</html>